---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import ItemGrid from '~/components/ui/ItemGrid.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Features as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  items = [],
  columns = 3,

  defaultIcon,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Props;
---

<WidgetWrapper 
  id={id} 
  isDark={isDark} 
  containerClass={`max-w-5xl ${classes?.container ?? ''}`} 
  bg={bg || '<div class="absolute inset-0 bg-black"></div>'}
>
  <Headline 
    title={title} 
    subtitle={subtitle} 
    tagline={tagline} 
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-white text-3xl md:text-4xl leading-tighter tracking-tighter mb-4 font-heading font-normal',
      subtitle: 'text-gray-400 text-xl',
      tagline: 'inline-block bg-[#faf7ec] text-black font-medium px-6 py-2 text-sm mb-8'
    }}
  />
  <ItemGrid
    items={items}
    columns={columns}
    defaultIcon={defaultIcon}
    classes={{
      container: 'gap-4 md:gap-6',
      panel: 'text-white',
      title: 'text-white text-xl font-semibold',
      description: 'text-gray-400',
      icon: 'w-10 h-10 p-2 border-2 border-white text-white bg-transparent',
      ...((classes?.items as Record<string, string>) ?? {}),
    }}
  />
</WidgetWrapper>
