---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Features as Props } from '~/types';
import jasperImage from '~/assets/images/jasper.jpg';
import robinImage from '~/assets/images/robin.png';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

const items = [
  {
    title: 'Jasper Faber MSc MBA',
    description: 'Met een achtergrond in data-science en productmanagement heeft Jasper Faber bijgedragen aan de ontwikkeling van innovatieve oplossingen voor de publieke sector, met een speciale focus op criminaliteitsbestrijding en het gebruik van AI.',
    image: jasperImage,
    linkedIn: 'https://www.linkedin.com/in/j-faber/',
  }
  // {
  //   title: 'Robin Faber MSc',
  //   description: 'Robin Faber is een data engineer met 8 jaar ervaring, gepassioneerd over het oplossen van complexe data-uitdagingen en het helpen van organisaties om het maximale uit hun data te halen.',
  //   image: robinImage,
  //   linkedIn: 'https://www.linkedin.com/in/robinfaber/',
  // },
];

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  columns: preferredColumns,
} = Astro.props;

// If no columns prop is passed explicitly, default to 1 if there is only one item, otherwise 2
const columns = preferredColumns ?? (items.length === 1 ? 1 : 2);
---

<WidgetWrapper 
  id={id} 
  isDark={isDark} 
  containerClass={`max-w-5xl ${classes?.container ?? ''}`} 
  bg={bg || '<div class="absolute inset-0 bg-black"></div>'}
>
  <Headline 
    title={title} 
    subtitle={subtitle} 
    tagline={tagline} 
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-white text-3xl md:text-4xl leading-tighter tracking-tighter mb-4 font-heading font-normal',
      subtitle: 'text-white text-xl',
      tagline: 'inline-block bg-[#faf7ec] text-black font-medium px-6 py-2 text-sm mb-8'
    }}
  />
  <div class={`grid gap-8 gap-x-12 sm:gap-y-8 ${columns === 2 ? 'sm:grid-cols-2' : ''}`}>
    {items.map(item => (
      <div class="relative h-full rounded-lg backdrop-blur border border-[#ffffff29] bg-page dark:bg-slate-900 p-6">
        <a href={item.linkedIn} class="absolute top-4 right-4">
          <Icon name="tabler:brand-linkedin" class="w-6 h-6 text-blue-600" />
        </a>
        <div class="flex flex-col items-center">
          <Image 
            src={item.image} 
            alt={item.title}
            class="w-32 h-32 rounded-full mb-4 object-cover"
            width={128}
            height={128}
          />
          <div class="text-xl font-semibold text-black text-center">{item.title}</div>
          <p class="text-black text-center mt-2">{item.description}</p>
        </div>
      </div>
    ))}
  </div>
</WidgetWrapper>
